.DS_Store
node_modules
.worktrees
.sst
.env
.idea
.vscode
.codex
*~
playground
tmp
dist
ts-dist
.turbo
**/.serena
.serena/
refs
Session.vim
weapon.json
a.out
target
.scripts

# Local dev files
weapon-dev
logs/
*.bun-build
.nixd.json
.nil.toml
.direnv
.devshell
result
