/* Global layout styles for session pages */

body > .page > .main-frame .main-pane > main > .content-panel:first-of-type {
  display: none;
}

body > .page > .main-frame .main-pane > main {
  padding: 0;
}

body > .page > .main-frame .main-pane > main > .content-panel + .content-panel {
  border-top: none !important;
  padding: 0;
}