img[data-component="app-icon"] {
  display: block;
  box-sizing: border-box;
  object-fit: contain;
}

html[data-color-scheme="dark"] img[data-component="app-icon"][data-app-icon-id="zed"] {
  filter: invert(1);
}
