[data-component="card"][data-kind="tool-error-card"] {
  --card-pad-y: 8px;
  --card-line-pad: 12px;

  > [data-component="collapsible"].tool-collapsible {
    gap: 0px;
  }

  > [data-component="collapsible"].tool-collapsible[data-open="true"] {
    gap: 4px;
  }

  [data-component="tool-error-card-icon"] [data-component="icon"] {
    color: var(--card-accent);
  }

  [data-slot="tool-error-card-content"] {
    margin-bottom: 8px;
    -webkit-user-select: text;
    user-select: text;
  }

  [data-slot="tool-error-card-content"] :where(*)::selection {
    background: var(--surface-critical-base);
    color: var(--text-on-critical-base);
  }

  [data-slot="tool-error-card-content"] :where(*)::-moz-selection {
    background: var(--surface-critical-base);
    color: var(--text-on-critical-base);
  }
}
