{
  "$schema": "https://opencode.ai/config.json",
  "provider": {
    "qwen": {
      "npm": "@ai-sdk/openai-compatible",
      "name": "Acompany NCC Qwen3.6-35B-A3B-FP8",
      "options": {
        "baseURL": "https://conf-ai.acompany-az.com/v1",
        "apiKey": "{env:SECURECODE_QWEN3_API_KEY}"
      },
      "models": {
        "qwen3.6-35b-a3b-fp8": {
          "name": "Qwen3.6-35B-A3B-FP8",
          "limit": {
            "context": 262144,
            "output": 16384
          },
          "options": {
            "chat_template_kwargs": { "enable_thinking": false }
          }
        }
      }
    }
  },
  "model": "qwen/qwen3.6-35b-a3b-fp8",
  "small_model": "qwen/qwen3.6-35b-a3b-fp8",
  "lsp": {
    "eslint": { "disabled": true }
  }
}
