{
  "$schema": "https://opencode.ai/config.json",
  "provider": {
    "openai": {
      "options": {
        "apiKey": "{env:OPENAI_API_KEY}",
        "baseURL": "https://litellm.acompany.tech/v1"
      }
    }
  },
  "model": "openai/qwen3.5",
  "small_model": "openai/qwen3.5"
}
